* {
    height: auto;
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 2.5rem;
    color: #f9faf8;
}

h2 {
    font-size: 1.8rem;
    color: #1f2937;
}

ul {
    display: flex; 
    list-style: none;
    padding: 0px;
    margin: 0px;
}

button {
    background-color: #3882f6;
    padding: 8px 22px;
    border-radius: 8px;
    color:#f9faf8;
    font-weight: 600;
    margin-top: 20px;
}

button:hover {
    background-color: #68a1f6;
    transition: ease-in-out 0.3s;
    box-shadow: inset;
    cursor: pointer;
}

.navbar {
    height: auto;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    padding: 8px 60px;
}

.nav-wrap {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    height: 40vh;
    padding: 0px 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    height: auto;
}

.hero-content {
    width: 400px;
}

.img {
    background-color: gray;
    height: 150px;
    width: 220px;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8;
    height: 50vh;
    padding: 0px 60px;
}

.card-wrap {
    display: flex;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 300px;
    width: 200px;
}

.border-wrap {
    height: 100px;
    width: auto;
    border: 3px solid #68a1f6;
    border-radius: 10px;
}